
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

*{

    /* set the defaults */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Caption', sans-serif;
}


/* -----------------------Header / Navbar Section---------------------------------- */

 nav{

    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    top: 0;
    justify-content: space-around;
    transition: 0.6s; /* slows down the transition when webpage is scrolled */
}

.logo{

    letter-spacing: 2px;
    font-size: 1.8em;
    transition: 0.6s;
}

.logo a{

    text-decoration: none;
    color: #81c3d7;
}

.nav-links{

    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{

    list-style: none;
}

.nav-links a{

    text-decoration: none;
    font-size: 1.2em;
    padding: 0 10px;
    letter-spacing: 2px;
    color: #81c3d7;
    font-weight: 700;
}

.nav-links a:hover{

    color: #d9dcd6;
    transition: 0.2s;
}

/*---------------------------------------*/

.hamburger-icon{

    display: none;
}

.hamburger-icon div{

    height: 3px;
    width: 30px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

/*----------------------------------------*/


@media (max-width: 900px) {

    body{

        overflow-x: hidden;
    }

    nav{

        background-color: white;
    }

    .nav-links{

        position: fixed;
        height: 94vh;
        top: 60px; /* depending on navbar height to make this menu go underneath it */
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transition: transform 0.5s ease-in;
        z-index: 1000;

        right: 0px; /* Set menu to right side */
        transform: translateX(100%); /* menu moves to the left from the right side */

        /*left: 0px; /* Set menu to left side */
        /*transform: translateX(-100%); /* menu moves to the right from the left side */
    }

    .nav-links li{

        opacity: 0;
    }

    .hamburger-icon{

        display: block;
        cursor: pointer;
    }
    
}

/*--------------------------------*/

.nav-active {
    transform: translateX(0%); /* ensure the menu is fully out */
}

@keyframes navLinkFade {
from {
    opacity: 0;

    /* Remove the transform if you dont want sliding links */
    transform: translateX(50px); /* Links slide in from right side */
    /*transform: translateX(-50px); /* Links slide in from left side */
}
to  {
    opacity: 1;
    transform: translateX(0);
    }
}

/*----Rotate the hamburger menu into a close sign ----*/
.toggle .line1 {
transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
opacity: 0;
}

.toggle .line3 {
transform: rotate(45deg) translate(-5px, -6px);
}


/*----------Make Navbar sticky------------*/
nav.sticky{

    background-color: white;
    height: 60px;
}

nav.sticky .logo a,
nav.sticky ul li a{

    color: #2f6690;
}






/* -----------------------Hero Section---------------------------------- */

.hero{

    width: 100%;
    height: 92vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(images/bjj-gym.jpg);
    background-size: cover;
    background-position: center;

    /* Display the contents in the hero section centred*/
    
}

.text-content{

    color: white;
    text-align: center;
    padding-top: 250px;
}

.hero h1{

    font-size: 4em;
}

.hero p{

    font-size: 2em;
}

.hero span{

    color: #81c3d7;
}

.buttons-container{

    padding-top: 100px;
}

.buttons{

    border: none;   
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    cursor: pointer;
    background-color: transparent;
}

.buttons a{

    text-decoration: none; /* Gets rid of underline */
    color: #81c3d7; 
}

.button1 {
     
    color: #81c3d7; 
    border: 2px solid #81c3d7;
}

.button2 {
    
    color: #81c3d7; 
    border: 2px solid #81c3d7;
}

.button1:hover{

    background-color: white;
    color: #16425b;
}

.button2:hover{

    background-color: white;
    color: #16425b;
}


/* -----------------------About Section---------------------------------- */

.about{

    height: 45vh;
    width: 100%;
    background-color: white;
}

.about-content{

    text-align: center;
    padding-top: 90px;
}

.about h1{

    font-size: 3em;
    color: #2f6690;
}

.about p{

    font-size: 1.8em;
    padding-top: 50px;
}




/* -----------------------Classes Section---------------------------------- */

.classes{

    height: 100vh;
    width: 100%;
    background-color: #2f6690;
}

.classes-content{

    
    padding-top: 90px;
}

.classes h1{

    font-size: 3em;
    color: white;
    text-align: center;
}

.classes-container{

    display: flex;
    justify-content: center;
    width: 90%;
    margin: 50px auto;
}

.classes-item{

    
    margin: 30px 20px;
    text-align: center;
}

.classes img{

    display: block;
    height: 300px; 
    width: 400px; 
}

.class-info{

    background: #d9dcd6; 
    border-radius: 0 0 2px 2px;
    padding: 1rem 2rem;  
    height: 100px;
    width: 100%;
    font-size: 1.1em;
    text-align: center;
}


/* -----------------------Timetable Section---------------------------------- */

.schedule{

    height: 110vh;
    width: 100%;
    background-color: white;
}

.schedule-content{

    padding-top: 90px;
}

.schedule h1{

    font-size: 3em;
    color: #2f6690;
    text-align: center;
}

.table-container{

    display: flex;
    justify-content: center;
    max-width: 90%;
    margin: 50px auto;
}

.schedule-table{

    border: 2px solid black;
    border-collapse: collapse;
}

.schedule-table thead tr th{

    border: 2px solid black;
    background-color: #2f6690;
    color: white;
}

.schedule-table tbody tr td{

    border: 2px solid black;
}

.schedule-table .time{

    background-color: #2f6690;
    color: white;
}

.schedule-table thead th{

    padding: 20px 80px;
}

.schedule-table tbody td{

    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    white-space: pre-line;  
}

.schedule-table thead tr th img{

    filter: grayscale(10);
    width: 40px;
}

small{

    font-size: 1.2em;
}



/* -----------------------Coaches Section---------------------------------- */

.coaches{

    height: 100vh;
    width: 100%;
    background-color: #2f6690;
}

.coaches-content{

    
    padding-top: 90px;
}

.coaches h1{

    font-size: 3em;
    color: white;
    text-align: center;
}

.coaches-container{

    display: flex;
    justify-content: center;
    width: 90%;
    margin: 50px auto;
}

.coaches-item{

    
    margin: 30px 20px;
    text-align: center;
}

.coaches img{

    display: block;
    height: 450px; 
    width: 100%; 
}

.coach-info{

    background: #d9dcd6; 
    border-radius: 0 0 2px 2px;
    padding: 1rem 2rem;
    height: 150px;
    width: 100%;
    font-size: 1.1em;
    text-align: center;
}


/* -----------------------Contact Section---------------------------------- */

.contact{

    height: 100vh;
    width: 100%;
    background-color: white;
}

.contact-content{

    
    padding-top: 90px;
}

.contact h1{

    font-size: 3em;
    color: #2f6690;
    text-align: center;
}

.contact-container{

    display: flex;
    justify-content: center;
    width: 90%;
    margin: 50px auto;
}




